<div class="col-md-12" ng-controller="MainController">
    <div class="panel panel-info" ng-show="!depsdone">
        <div class="panel-body bg-info">
            <p>Waiting on Dependencies... <img src="img/throbber.gif"></img></p>
        </div>
    </div>
    <div class="panel panel-warning" ng-show="depsdone && !depsgood">
        <div class="panel-body bg-warning">
            <p>Something went wrong with dependencies...</p>
            <p>If you refreshed the page while dependencies were installing, you will see an error until the installation is done.</p>
            <p>Try checking your internet connection or waiting a bit and refreshing the page.</p>
            <p>If the problem persists, you may need to check things manually via ssh.</p>
            <p>Error: <span class="text-danger">{{ depserr }}</span></p>
        </div>
    </div>
    <div ng-show="depsdone && depsgood">
        <div class="panel panel-default" ng-controller="WashController">
            <div class="panel-heading" data-toggle="collapse" data-target="#Wash">
                <h3 class="panel-title">Scan For WPS Enabled APs</h3>
            </div>
            <div id="Wash" class="panel-body panel-collapse collapse in">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon">
                            Interface
                        </span>
                        <select class="form-control" ng-model="selectedInterface">
                            <option ng-repeat="interface in interfaces">{{ interface }}</option>
                        </select>
                    </div>
                    <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            Scan Length (seconds)
                        </span>
                        <input class="form-control" type="number" ng-model="washTimeout">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="washScan()">
                                <span>
                                    Scan
                                </span>
                            </button>
                            <button class="btn btn-default" ng-click="stopScan()">
                                <span>
                                    Stop Scan
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12">
                            <span class="pull-right">
                                <label>
                                    Auto Stop Services
                                </label>
                                <input type="checkbox" ng-model="$parent.autoStopServices" ng-change="toggleAutoStopServices()">
                            </span>
                        </span>
                    </div>
                </form>
                <br>
                <pre class="well">{{ scanResults }}</pre>
            </div>
        </div>
        <div class="panel panel-default" ng-controller="ReaverController">
            <div class="panel-heading" data-toggle="collapse" data-target="#Reaver">
                <h3 class="panel-title">Crack WPS</h3>
            </div>
            <div id="Reaver" class="panel-body panel-collapse collapse in">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon">
                            Interface
                        </span>
                        <select class="form-control" ng-model="selectedInterface">
                            <option ng-repeat="interface in interfaces">{{ interface }}</option>
                        </select>
                    </div>
                    <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            Target BSSID
                        </span>
                        <input class="form-control" type="text" ng-model="bssid">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="reaverCrack()">
                                <span>
                                    Crack
                                </span>
                            </button>
                            <button class="btn btn-default" ng-click="stopCrack()">
                                <span>
                                    Stop Crack
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12">
                            <span class="pull-right">
                                <label>
                                    Auto Stop Services
                                </label>
                                <input type="checkbox" ng-model="$parent.autoStopServices" ng-change="toggleAutoStopServices()">
                            </span>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            Session
                        </span>
                        <select class="form-control" ng-model="bssid">
                            <option ng-repeat="session in sessions">{{ session }}</option>
                        </select>
                    </div>
                </form>
                <br>
                <pre class="well">{{ crackResults }}</pre>
            </div>
        </div>
    </div>
</div>

