<div class="col-md-12" ng-controller="MainController">
    <div class="panel panel-info" ng-show="!depsdone">
        <div class="panel-body bg-info">
            <p>Waiting on Dependencies... <img src="img/throbber.gif"></img></p>
        </div>
    </div>
    <div class="panel panel-warning" ng-show="depsdone && !depsgood">
        <div class="panel-body bg-warning">
            <p>Something went wrong with dependencies...</p>
            <p>If you refreshed the page while dependencies were installing, you will see an error until the installation is done.</p>
            <p>Try checking your internet connection or waiting a bit and refreshing the page.</p>
            <p>If the problem persists, you may need to check things manually via ssh.</p>
            <p>Error: <span class="text-danger">{{ depserr }}</span></p>
        </div>
    </div>
    <div ng-show="depsdone && depsgood">
        <div class="jumbotron" style="border-radius: 7px;">
            <div class="container">
                <h1>{{ greeting }}</h1>
                <p>{{ content }}</p>
            </div>
        </div>
        <div class="panel panel-default" ng-controller="WashController">
            <div class="panel-heading" data-toggle="collapse" data-target="#Wash">
                <h3 class="panel-title">Scan For WPS Enabled APs</h3>
            </div>
            <div id="Wash" class="panel-body panel-collapse collapse in">
                <div class="input-group">
                    <span class="input-group-addon">
                        Interface
                    </span>
                    <select class="form-control" ng-model="selectedInterface" ng-disabled="modinterface">
                        <option ng-repeat="interface in interfaces">{{ interface }}</option>
                    </select>
                </div>
                <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
            </div>
        </div>
        <div class="panel panel-default" ng-controller="ReaverController">
            <div class="panel-heading" data-toggle="collapse" data-target="#Reaver">
                <h3 class="panel-title">Crack WPS</h3>
            </div>
            <div id="Reaver" class="panel-body panel-collapse collapse in">
                <div class="input-group">
                    <span class="input-group-addon">
                        Interface
                    </span>
                    <select class="form-control" ng-model="selectedInterface" ng-disabled="modinterface">
                        <option ng-repeat="interface in interfaces">{{ interface }}</option>
                    </select>
                </div>
                <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
            </div>
        </div>
    </div>
</div>

