<div class="col-md-12" ng-controller="MainController">
    <div class="panel panel-info" ng-show="!depsdone">
        <div class="panel-body bg-info">
            <p>Waiting on Dependencies... <img src="img/throbber.gif"></img></p>
        </div>
    </div>
    <div class="panel panel-warning" ng-show="depsdone && !depsgood">
        <div class="panel-body bg-warning">
            <p>Something went wrong with dependencies...</p>
            <p>If you refreshed the page while dependencies were installing, you will see an error until the installation is done.</p>
            <p>Try checking your internet connection or waiting a bit and refreshing the page.</p>
            <p>If the problem persists, you may need to check things manually via ssh.</p>
            <p>Error: <span class="text-danger">{{ depserr }}</span></p>
        </div>
    </div>
    <div ng-show="depsdone && depsgood">
        <div class="panel panel-default" ng-controller="WashController">
            <div class="panel-heading" ng-model="collapse" ng-click="collapse=!collapse" data-toggle="collapse" data-target="#Wash">
                <h3 class="panel-title">
                    Scan For WPS Enabled APs
                    <span class="pull-right" ng-show="collapse">&#9650</span>
                    <span class="pull-right" ng-hide="collapse">&#9660</span>
                </h3>
            </div>
            <div id="Wash" class="panel-body panel-collapse collapse in">
                <form>
                    <div class="input-group">
                        <label for="wash-interface" class="input-group-addon">
                            Interface
                        </label>
                        <select id="wash-interface" class="form-control" ng-model="selectedInterface">
                            <option ng-repeat="interface in interfaces">{{ interface }}</option>
                        </select>
                    </div>
                    <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
                    <div class="input-group">
                        <label for="wash-length" class="input-group-addon">
                            Scan Length (seconds)
                        </label>
                        <select id="wash-length" class="form-control" ng-model="washTimeout">
                            <option ng-repeat="t in [15,30,60,300,600]">{{ t }}</option>
                        </select>
                        <label for="wash-channel" class="input-group-addon">
                            Channel
                        </label>
                        <select id="wash-channel" class="form-control" ng-model="channel">
                            <option ng-repeat="c in ['all',1,2,3,4,5,6,7,8,9,10,11]">{{ c }}</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="washScan()">
                                <span>
                                    Scan
                                </span>
                            </button>
                            <button class="btn btn-default" ng-click="stopScan()">
                                <span>
                                    Stop Scan
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12">
                            <span class="pull-right">
                                <label>
                                    Auto Stop Services
                                    <input type="checkbox" ng-model="$parent.autoStopServices" ng-change="toggleAutoStopServices()">
                                </label>
                            </span>
                        </span>
                    </div>
                </form>
                <br>
                <pre class="well" ng-show="scanResults.length==0">No log found or log empty.  You need to perform a scan first!</pre>
                <div class="well" ng-hide="scanResults.length==0">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <th ng-click="orderByName='essid';reverseSort=!reverseSort">
                                ESSID
                                <span ng-show="orderByName=='essid'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='bssid';reverseSort=!reverseSort">
                                BSSID
                                <span ng-show="orderByName=='bssid'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='vendor';reverseSort=!reverseSort">
                                Vendor
                                <span ng-show="orderByName=='vendor'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='channel';reverseSort=!reverseSort">
                                Channel
                                <span ng-show="orderByName=='channel'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='rssi';reverseSort=!reverseSort">
                                Power (dBm)
                                <span ng-show="orderByName=='rssi'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='wps_version';reverseSort=!reverseSort">
                                WPS Version
                                <span ng-show="orderByName=='wps_version'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                            <th ng-click="orderByName='wps_locked';reverseSort=!reverseSort">
                                Locked
                                <span ng-show="orderByName=='wps_locked'">
                                    <span class="caret" ng-show="reverseSort"></span>
                                    <span class="caret caret-reversed" ng-hide="reverseSort"></span>
                                </span>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ap in scanResults|orderBy:orderByName:reverseSort" class="active" ng-click="selectTarget(ap)">
                                <td>{{ ap.essid }}</td>
                                <td><span style="color:#333;">{{ ap.bssid }}</span></td>
                                <td>{{ ap.vendor }}</td>
                                <td>{{ ap.channel }}</td>
                                <td>{{ ap.rssi }}</td>
                                <td>{{ ap.wps_version }}</td>
                                <td>{{ ap.wps_locked }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-controller="ReaverController">
            <div class="panel-heading" ng-model="collapse" ng-click="collapse=!collapse" data-toggle="collapse" data-target="#Reaver">
                <h3 class="panel-title">
                    Crack WPS
                    <span class="pull-right" ng-show="collapse">&#9650</span>
                    <span class="pull-right" ng-hide="collapse">&#9660</span>
                </h3>
            </div>
            <div id="Reaver" class="panel-body panel-collapse collapse in">
                <form>
                    <div class="input-group">
                        <label for="reaver-interface" class="input-group-addon">
                            Interface
                        </label>
                        <select id="reaver-interface" class="form-control" ng-model="selectedInterface">
                            <option ng-repeat="interface in interfaces">{{ interface }}</option>
                        </select>
                    </div>
                    <p ng-hide="interfaces.length"><small class="text-warning">No Wireless Interfaces Currently In Monitor Mode!</small></p>
                    <div class="input-group">
                        <label for="reaver-bssid" class="input-group-addon">
                            Target BSSID
                        </label>
                        <input id="reaver-bssid" class="form-control" type="text" ng-model="bssid" ng-change="changeSession()">
                        <label for="reaver-channel" class="input-group-addon">
                            Channel
                        </label>
                        <select id="reaver-channel" class="form-control" ng-model="channel">
                            <option ng-repeat="c in ['auto',1,2,3,4,5,6,7,8,9,10,11]">{{ c }}</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="reaverCrack()">
                                <span>
                                    Crack
                                </span>
                            </button>
                            <button class="btn btn-default" ng-click="stopCrack()">
                                <span>
                                    Stop Crack
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12">
                            <span class="pull-right" style="padding-left:20px">
                                <label>
                                    Auto Stop Services
                                    <input type="checkbox" ng-model="$parent.autoStopServices" ng-change="toggleAutoStopServices()">
                                </label>
                            </span>
                            <span class="pull-right">
                                <label>
                                    Pixie Dust
                                    <input type="checkbox" ng-model="pixieDust">
                                </label>
                            </span>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="reaver-session" class="input-group-addon">
                            Session
                        </label>
                        <select id="reaver-session" class="form-control" ng-model="bssid" ng-change="changeSession()">
                            <option ng-repeat="session in sessions" value="{{ session.bssid }}">{{ session.essid }}</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="downloadCrack()">
                                <span>
                                    Download Log
                                </span>
                            </button>
                            <button class="btn btn-default" ng-click="deleteCrack()">
                                <span>
                                    Delete
                                </span>
                            </button>
                        </span>
                    </div>
                </form>
                <br>
                <pre class="well">{{ crackResults }}</pre>
                <form>
                    <div class="input-group">
                        <label for="reaver-pin" class="input-group-addon">
                            WPS Pin
                        </label>
                        <input id="reaver-pin" class="form-control" type="text" ng-model="pin">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="reaverPin()">
                                <span>
                                    Try Pin
                                </span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="reaver-pass" class="input-group-addon">
                            WPA Pass
                        </label>
                        <input id="reaver-pass" class="form-control" type="text" ng-model="password" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

